<header>
<div class="d-flex align-items-center p-3 px-4 mb-3 bg-light ">
    <h5 class="my-0">Site name</h5>
    <div class="ml-3">
      <a class="p-2 text-dark" href="/about">about</a>
    </div>
    <div class="ml-auto">
      <a class="p-2 text-dark" href="#"><i class="fab fa-github"></i></a>
      <a class="p-2 text-dark" href="#"><i class="fab fa-slack"></i></a>
    </div>
  </div>
</header>
